:root {
  /* Primary palette */
  --color-primary: #B57EDC;
  --color-primary-hover: #A164CC;

  /* Neutral / text */
  --color-text: #222;
  --color-text-muted: #666;
  --color-background: #f0f1f5;
  --color-border: #eee;

  /* Buttons */
  --color-button-bg: var(--color-primary);
  --color-button-hover: var(--color-primary-hover);
  --color-button-text: #fff;
}


@media (prefers-color-scheme: dark) {
  :root {
    /* Primary palette */
    --color-primary: #B57EDC;
    --color-primary-hover: #A164CC;

    /* Neutral / text */
    --color-text: #222;
    --color-text-muted: #666;
    --color-background: #f0f1f5;
    --color-border: #eee;

    /* Buttons */
    --color-button-bg: var(--color-primary);
    --color-button-hover: var(--color-primary-hover);
    --color-button-text: #fff;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

